<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sensor Fault Detection</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', path='images/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/styles.css') }}">
</head>
<body>
    <div class="container">
        <!-- Animated Wafer Fault Detection Text -->
        <h1 class="animated-heading">Wafer Fault Detection</h1>

        <form id="uploadForm">
            <div class="upload-section">
                <label for="folderUpload">Choose a folder for prediction:</label>
                <input type="file" id="folderUpload" name="folderUpload" webkitdirectory mozdirectory required>
            </div>
            <button type="submit" class="submit-btn">Upload</button>
        </form>
        <div id="predictionSection" class="prediction-section">
            <button id="predictBtn" class="submit-btn">Predict</button>
            <!-- Loading animation -->
            <div id="loading" class="loading-animation" style="display: none;">Loading...</div>
        </div>
    </div>
    <script src="{{ url_for('static', path='/js/script.js') }}"></script>
</body>
</html>
